<%
location = piece.player.game.from_square_idx(piece.square)
# FIXME duplicated in the .css (not sure if this is avoidable though)
square_rem = 4
padding_rem = 0.6
x_rem = (square_rem * location[:x]) + padding_rem
y_rem = (square_rem * location[:y]) + padding_rem
transform_style = "transform: translate(#{x_rem}rem, #{y_rem}rem)"
%>

<div id="piece_<%= piece.id %>" class="piece-container" style="<%= transform_style %>">
  <%= image_tag("#{piece.player.color}-#{piece.kind}", class: 'piece') %>
</div>
