
<div id='game-moves'>
  <% data&.each do |(board_x, board_y), steps| %>
    <% steps.each.with_index do |step, idx| %>
      <div data-controller="piece"
           data-piece-wait-time-value="<%= idx * 400 %>"
           data-piece-move-generation-value="<%= step.to_json %>"
      >
      </div>
    <% end %>
  <% end %>
</div>
