<div>Games</div>
<ul>
  <% @games.each do |game| %>
    <li>
      <span><%= game.id %></span>
      <div class='join-button'><%= button_to("Join", sessions_create_path, { params: { game_id: game.id } }) %></div>
    </li>
  <% end %>
</ul>
