/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    background: #777;
}

.board-grid {
    display: grid;
}

.board-row {
    display: flex;
    flex-wrap: nowrap;
}

.board {
    /* Using this instead of grid gap. */
    padding: 0.6rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-columns: 2rem;
    grid-auto-rows: 2rem;

    position: relative;
}

.piece-container {
    position: absolute;
    width: 4rem;
    height: 4rem;
    transition: transform 0.25s ease;
    z-index: 2;
}

.move-target {
    background-color: rgba(255, 194, 10, 0.5);
    position: absolute;
    width: 4rem;
    height: 4rem;
    z-index: 3;
}

.join-button {
    display: inline-block;
}

.square {
    height: 4rem;
    width: 4rem;
    display: inline-block;
}

.dark-obscured {
    background: #333;
}

.light-obscured {
    background: #555;
}

.dark-revealed {
    background: #444;
}

.light-revealed {
    background: #eee;
}

.current-player {
    background-color: rgba(12, 123, 220, 0.5);
    z-index: 1;
}

.pending-move {
    position: absolute;
    height: 0.1rem;
    background-color: rgba(12, 123, 220, 0.5);
    transform-origin: 0 50%;
    z-index: 2;
}

img.piece {
    max-width: 100%;
    position: absolute;
    height: 4rem;
    width: 4rem;
    z-index: 1;
}

td {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
}

.score {
    display: flex;
}

#turn-indicator {
    display: flex;
    align-items: center;
}

#traffic-lights {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 8rem;
}

.traffic-light {
    width: 2rem;
    height: 2rem;
    align-self: center;
    margin: 1px;
}

#header {
    display: flex;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: #777;
    border-bottom: 1px solid black;
    box-shadow: 0 0.5rem 1rem black;
    padding: 0.5rem 1rem;
    z-index: 10;
    box-sizing: border-box;
    height: 7rem;
}

#content-container {
    margin-top: 5rem;
}

#choose-party {
    text-align: center;
}

#spawn-pieces {
    display: flex;
    margin-left: auto; /* center-alignment */
}

#choose-party-buttons {
    display: flex;
    justify-content: center;
}

.spawn-piece-button-container {
    width: 4rem;
    margin: 0 1rem;
}

.choose-party-button-container {
    width: 4rem;
    margin: 1rem;
}

#current-party-container {
}

.piece-button {
    background: #bbb;
    box-shadow: inset -2px -2px #222, inset 2px 2px #eee;
    width: 100%;
}

.remove-button {
    height: 2rem;
    margin: auto 0;
}

.chosen-piece-container {
    display: flex;
    height: 4rem;
    justify-content: center;
}

.spawn-selected {
    background: rgba(170, 68, 153, 0.5);
    box-shadow: inset 2px 2px #222, inset -2px -2px rgba(250, 128, 203, 0.5);
}

.piece-cost {
    text-align: center;
    width: 100%;
}

.affordable {
}

.not-affordable {
    opacity: 0.2;
}

#points {
    display: flex;
    flex-direction: column;
    justify-content: center; /* this centers vertically for column flex containers */
}

#score {
    display: flex;
    align-items: center;
    margin-left: auto; /* right-alignment */
}

#flash-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.flash-error {
    border: 1px solid red;
    color: rgb(120, 0, 0);
    background: rgb(255, 220, 220);
    text-align: center;
    width: 60%;
    padding: 1rem;
}
