/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    background: #777;
}

.board-grid {
    display: grid;
}

.board-row {
    display: flex;
    flex-wrap: nowrap;
}

.board {
    border: 1px solid black;

    /* Using this instead of grid gap. */
    padding: 0.6rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-columns: 2rem;
    grid-auto-rows: 2rem;
}

.square {
    height: 4rem;
    width: 4rem;
    display: inline-block;
}

.dark {
    background: #444;
}

.light {
    background: white;
}

img.piece {
    max-width: 100%;
}
